//$base-color:#3f51b5;
$color:rgba(0, 0, 0, 0.7);
$font-weight:'bold';
$font-family:'"Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "egoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif';