$button-toolbar-border-color:#d0d0d0;
$button-toolbar-border-color-focus:#3f51b5;
$button-toolbar-border-color-focus-pressed:#3f51b5;
$button-toolbar-border-color-over:#3f51b5;
$button-toolbar-border-color-pressed:#3f51b5;
$button-toolbar-border-color-focus-pressed:#3f51b5;
$button-toolbar-background-color:#fff;
$button-toolbar-background-color-pressed:#fff;
$button-toolbar-color-over:#3f51b5;
$button-small-padding:5px;